body{
	margin: 0px;
	padding: 0px;
	background-color: #E6E6E6;
}
button{ /* 按钮美化 */
	width: 110px; /* 宽度 */
	height: 30px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	color: white; /* 字体颜色 */
	font-size: 15px; /* 字体大小 */
}
button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF; /* 背景颜色 */
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: rgba(100, 100, 100, 0.8); */
	background-image: url(../img/bg.png);
	background-size: 100% 400%;
	background-position: center;
	margin:0px;
	margin-top: 50px;
	padding: 0px 50px;
}
.nav .left{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav .log{
	position: absolute;
}
.nav .log img{
	max-width: 200px;
	max-height: 150px;
}
.nav .nav-item{
	color: #FFFFFF;
	font-size: 22px;
	padding: 10px 30px;
	cursor: pointer;
}
/** 移入特效 */
.l-border{
    display: inline-block;
    padding: 16px 32px;
    border: 1px solid #ebebeb;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.l-border:hover{
    border: 1px solid #367dff;
}
/** 移入特效2 */
.border-line {
    position: relative;
    display: inline-block;
    height: 100%;
    background: none;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 0px transparent;
}
.border-line:hover{
	color: #ff8800;
	background-color:rgba(200,200,200,.3);
	background-size: 100% 100%;
}
.border-line::after,
.border-line::before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.border-line::after {
    top: 0;
    left: 0;
    -webkit-transition: border-color 0s ease-in 0.8s, width 0.2s ease-in 0.6s, height 0.2s ease-in 0.4s;
    transition: border-color 0s ease-in 0.8s, width 0.2s ease-in 0.6s, height 0.2s ease-in 0.4s;
}
.border-line::before {
    bottom: 0;
    right: 0;
    -webkit-transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.2s, height 0.2s ease-in;
    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.2s, height 0.2s ease-in;
}
.border-line:hover::after,
.border-line:hover::before {
    width: 100%;
    height: 100%;
}
.border-line:hover::after {
    border-top-color: #367dff;
    border-right-color: #367dff;
    -webkit-transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
    transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
}
.border-line:hover::before {
    border-bottom-color: #367dff;
    border-left-color: #367dff;
    -webkit-transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s, height 0.2s ease-out 0.6s;
    transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s, height 0.2s ease-out 0.6s;
}
.nav .exit{
	color: #ff8800;
	cursor: pointer;
}
/**
 * 设备相关样式
 */
.equipment{
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid red; */
	margin-top: 20px;
	padding: 30px;
}
.equipment-box{
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	background-color: #FFFFFF;
	/* border: 1px solid red; */
}
.equipment-box .title{
	font-size: 25px;
	padding-left: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(100,100,100,.9);
}
.equipment-box .con-box{
	display: flex;
	justify-content: space-around;
}
.equipment-box .con-box-item{
	font-size: 20px;
	width: 300px;
	padding: 20px 0px;
	color: #666666;
}
.equipment-box .con-box-item input{
	font-size: 20px;
	width: 80px;
}
.equipment-box .con-box-item input:focus{
	/* border: #367dff 1px solid; */
	/* outline:1px; */
	outline-color: #367dff;
	border-radius: 5px;
}
.equipment-box .buttons{
	display: flex;
	align-items: center;
	justify-content: center;
}
.equipment-box .buttons button{
	margin: 0px 10px;
}
/**
 * 	底部
 */
.bottom{
	display: flex;
	justify-content: space-between;
	padding: 30px;
	
}

.player{
	width: 100%;
	padding: 20px 10px;
	border-radius: 10px;
	background-color: #FFFFFF;
}
.player .title{
	font-size: 25px;
	padding-left: 20px;
	padding-bottom: 15px;
	border-bottom: 2px solid rgba(100,100,100,.5);
}
.player .compete{
	display: flex;
	flex-direction: column;
}
.player .compete-line{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
}
.player .compete-line .player-title{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	font-size: 25px;
	padding-bottom: 5px;
}

.player .session-title{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 56px;
	background-image: url(../img/quantou.svg);
	background-repeat: no-repeat;
	background-position: center;
	color: #FFFFFF;
}

.player .sessionNum{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 100%;
	font-size: 25px;
	font-weight: 600;
}
.player .player-name{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	width: 100px;
	line-height: 20PX;	
	text-align: center;
}
.player .player-score{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 150px;
	color: #666666;
}
.player .score-line{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}
.player .player-abs-score{
	font-size: 20px;
	width: 150px;
}
.player .player-button{
	
}

.red{
	color: red;
}
.red button{
	background-color: red;
}
.blue{
	color: blue;
}
.blue button{
	background-color: blue;
}